.email-signature-generator {

  .required {
    color: #a6192e;
  }

  form {

    /* undo some foundation.scss stuff */
    input[type='file'],
    input[type='checkbox'],
    input[type='radio'],
    select {
      margin: 0 0.25em 0 0;
    }

    margin: 1em 0;

    .help {
      color: #7e7e7c;
      font-size: 0.875rem;
      font-style: italic;
      line-height: 1.5;
    }

    .form_field {
      margin-bottom: 1em;
    }

    fieldset {
      margin: 1em 0;

      legend {
        margin: 0 0 0.5em 0;
      }

      .form_field:last-child {
        margin-bottom: 0;
      }
    }

    .repeatable {

      .btn {
        clear: left;
        display: block;
      }

      .repeatable-group {
        clear: left;
      }

      .repeatable-fields {
        margin-right: 2%;
        width: 89%;
      }

      &.with-controls {

        .repeatable-group {

          &.drag {
            opacity: 0.5;
          }

          .form_field {
            margin-bottom: 1em; /* overrides fieldset .form_field:last-child */
            width: 100%;
          }

          .repeatable-fields,
          .form_field {
            float: left;
          }

          .repeatable-controls {
            padding-top: 1.80em;

            img {
              border: 1px solid #7e7e7c;
              margin-right: 0.25em;
              width: 1.25em;

              &.sort {
                cursor: move;
              }

              &.trash {
                cursor: pointer;
              }
            }

          }
        }

        &.no-labels {
          .repeatable-group {
            .repeatable-controls {
              padding-top: 0.25em;
            }
          }
        }
      }

      &.title_department {
        .form_field {
          float: left;

          &.title-field {
            width: 49%;
            margin-right: 2%;
          }

          &.department-field {
            width: 49%
          }
        }
      }

      &.phone_numbers {

        .form_field {
          float: left;

          &.label-field {
            width: 30%;
            margin-right: 2%;
          }

          &.number-field {
            width: 67%
          }
        }
      }

      &.address {

        .form_field {
          width: 100%;
        }

      }

      &.social_media {

        .form_field {
          float: left;

          &.platform-field {
            width: 30%;
            margin-right: 2%;
          }

          &.url-field {
            width: 67%
          }
        }
      }

      &.links {

        .form_field {
          float: left;

          &.text-field {
            width: 30%;
            margin-right: 2%;
          }

          &.url-field {
            width: 67%
          }
        }

      }
    }

  }
}
